<!DOCTYPE html>
<html lang="en">
<head>
<title>Login in</title>
</head>
<body>
    <div id="app">
        <div>请登录<a :href="login_url" target="_blank">GGAC</a>,在点击<a :href="next">我</a>登陆私信</div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            login_url: "http://www.ggac.net/login",
            next: ""
        },
        mounted: function () {
            this.next = this.getQueryString("next");
        },
        methods: {
            getQueryString: function(name) {
                /*get url param*/
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]); return -1;
            }
        }
    })
</script>
</html>
