[v-cloak] {
    display: none;
}

    body {
        overflow: auto;
        overflow-x: hidden !important;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background: #282828;
        font-size: 0;
        line-height: 1;
    }

    #app {
        width: 1200px;
        height: 800px;
        margin: 0 auto;
        margin-top: 100px;
    }

    #topBox {
        background-color: #dddddd;
    }

    #topBox ul {
        list-style-type:none;
        margin:0;
        padding:0;
        overflow:hidden;
        text-align: right;
    }

    #topBox ul li {
        display: inline-block;
        padding-right: 20px;
        margin: 5px;
    }

    #topBox ul li a {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    #topBox ul li a:link {
        color: grey;
        text-decoration: none;
    }

    #topBox ul li a:hover {
        color: black;
        text-decoration: none;
    }

    #leftBox, #rightBox {
        display: inline-block;
        height: 800px;
        vertical-align: top;
        overflow-y: hidden;
        background-color: white;
    }

    #leftBox {
        width: 300px;
        background-color: #000;
    }

    #rightBox {
        width: 100%;
    }

    #currentUserInfo {
        position: relative;
        padding: 20px;
    }

    #currentUserInfo .current-user-avatar {
        widows: 40px;
        height: 40px;
        border-radius: 50%;
        vertical-align: middle;
    }

    #currentUserInfo .current-user-name {
        color: #fff;
        margin-left: 10px;
        vertical-align: middle;
    }

    #currentUserInfo .current-back {
        position: absolute;
        right: 20px;
        top: 26px;
    }

    .form-input-style,
    .form-input-style:active,
    .form-input-style:focus,
    .form-input-style:hover {
        box-sizing: border-box;
        border: 1px solid #000;
        background-color: #4f4f4f;
        color: #808080;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 6px 50px 6px 10px;
        outline: 0 !important;
        width: 260px;
        height: auto;
        font-size: 14px;
        text-shadow: none;
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        -o-text-shadow: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }

    .font-size12 {
        font-size: 12px;
    }

    .font-size14 {
        font-size: 14px;
    }

    .font-size16 {
        font-size: 16px;
    }

    .font-size18 {
        font-size: 18px;
    }

    #searchBox {
        height: 95px;
        padding: 0 20px;
        border-bottom: 1px solid #202020;
    }

    .search-input {
        position: relative;
        margin-bottom: 20px;
    }

    .search-icon {
        position: absolute;
        right: 0;
        top: 1px;
        display: inline-block;
        background-color: #4fe2fe;
        width: 40px;
        height: 28px;
        cursor: pointer;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    .search-icon img {
        margin-top: 6px;
        margin-left: 12px;
    }

    .switch-condition {
        text-align: center;
    }

    .switch-condition span {
        cursor: pointer;
        color: #808080;
        padding-top: 2px;
    }

    span.tab-nav {
        position: relative;
        top: 2px;
    }

    .switch-condition span.is-active {
        cursor: pointer;
        color: #4fe2fe;
    }

    .switch-condition span.is-active .tab-nav {
        color: #4fe2fe;
    }

    /*.switch-condition span:first-child {*/
    /*margin-right: 20px;*/
    /*}*/
    .switch-condition img {
        vertical-align: middle;
    }

    .room-contact {
        position: relative;
    }

    .roomlist-unread-count {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        background-color: rgb(197, 48, 72);
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }

    #roomList,
    #focusList {
        width: 300px;
        overflow: auto;
    }

    #roomList,
    #focusList{
        max-height: 630px;
        overflow-y: auto;
    }

    .room-box {
        position: relative;
        background-color: #000;
        text-align: left;
        color: #fff;
        border-bottom: 1px solid #232323;
        padding: 20px;
    }

    .room-box.is-active {
        position: relative;
        background: #232323;
    }

    .room-box.is-active:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 2px;
        background-color: #4fe2fe;
        left: 0;
        top: 0
    }

    .room-box .r-desc {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70px;
        height: 16px;
    }

    .r-badge {
        position: absolute;
        display: inline-block;
        background: #4fe2fe;
        padding: 0;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        right: 25px;
        bottom: 22px;
    }

    .sidebar-content-box .r-hide {
        display: none;
    }

    .room-box.is-active {
        cursor: pointer;
    }

    .room-box.is-active:hover .r-hide {
        position: absolute;
        display: inline-block;
        padding: 4px 4px;
        text-align: center;
        border-radius: 4px;
        right: 22px;
        bottom: 18px;
    }

    .ten-down {
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 50%;
    }

    .hundred-down {
        width: 26px;
        height: 16px;
        line-height: 16px;
        border-radius: 8px;
    }

    .hundred-up {
        width: 36px;
        height: 16px;
        line-height: 16px;
        border-radius: 8px;
    }

    .r-date {
        position: absolute;
        display: inline-block;
        padding: 0 4px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        color: #808080;
        right: 20px;
        top: 23px;
    }

    .r-remove {
        position: absolute;
        display: inline-block;
        padding: 0 4px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        left: 0;
        top: 0;
    }

    #logTitle {
        background-color: #eee;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #ccc;
        overflow: hidden;
    }

    .info-name {
        color: #000;
    }

    #logTitle .info-delete {
        position: absolute;
        right: 10px;
        top: 0;
        cursor: pointer;
    }

    #logTitle .info-delete .dropmenu-icon2 {
        display: none;
    }

    #logTitle .info-delete:hover .dropmenu-icon1 {
        display: none;
    }

    #logTitle .info-delete:hover .dropmenu-icon2 {
        display: inline-block;
    }

    .title-info {
        position: relative;
        padding: 0 20px;
        height: 60px;
    }

    #log {
        background: #eee;
        height: 570px !important;
        border-bottom: 1px solid #ccc;
    }

    #log .mCSB_container {
        padding: 20px 20px 0;
    }

    #focusDetail {
        box-sizing: border-box;
        background: #fff;
        height: 739px;
        overflow: auto;
        padding-top: 100px;
    }

    #form {
        position: relative;
        background: #eee;
        width: 900px;
        height: 170px;
    }
    #userDisconnected {
        display: inline-block;
        position: relative;
        background: #eee;
        width: 900px;
        height: 170px;
    }
    .other-box,
    .self-box {
        margin-bottom: 20px;
    }

    .self-box {
        text-align: right;
    }

    .content-header {
        display: inline-block;
        width: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
    }

    .content-header .user-avatar {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .content-date {
        display: inline-block;
    }

    .other-box .content-header {
        margin-right: 10px;
    }

    .self-box .content-header {
        margin-left: 10px;
    }

    .content-body {
        position: relative;
        display: inline-block;
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        word-wrap:break-word;
        word-break: normal;
        vertical-align: top;
        max-width: 600px;
        color: #333;
        line-height: 18px;

    }

    .self-box .content-body {
        text-align: left;
        background-color: #4fe2fe;
        color: #fff;
    }

    .self-box .content-body:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        right: -6px;
        top: 10px;
        border-top: 1px solid transparent;
        border-left: 7px solid #4fe2fe;
        border-bottom: 12px solid transparent;
    }

    .other-box .content-body:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        left: -7px;
        top: 10px;
        border-top: 3px solid transparent;
        border-right: 8px solid #fff;
        border-bottom: 10px solid transparent;
    }

    .date-box {
        text-align: center;
    }

    .date-box span {
        display: inline-block;
        background-color: #4f4f4f;
        color: #fff;
        padding: 10px;
    }

    .content-time {
        display: block;
        width: auto;
        border-radius: 4px;
        word-break: break-all;
        vertical-align: top;
        color: #808080;
        margin-bottom: 10px;
    }

    #contentBox {
        display: inline-block;
        box-sizing: border-box;
        border: none;
        overflow: hidden;
        width: 100%;
        padding: 20px 20px 0;
        margin-top: 20px;
        height: 90px;
        color: #333;
        line-height: 18px;
        word-wrap:break-word;
        word-break: normal;
        background-color: #eee;
        overflow-y: auto;
        resize:none;
    }
    #submitContent {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 120px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #fff;
        border-radius: 4px;
        background-color: #4fe2fe;
        cursor: pointer;
    }

    #leftWords {
        position: absolute;
        bottom: 20px;
        right: 120px;
        width: 120px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #808080;
    }

    .chat-upload-file {
        position: absolute;
        bottom: 22px;
        left: 20px;
    }

    :focus {
        outline: none;
    }

    .sidebar-avatar-box,
    .sidebar-content-box {
        display: inline-block;
        vertical-align: top;
    }

    .sidebar-avatar-box {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .sidebar-content-box {
        width: calc(100% - 55px);
    }

    .sidebar-avatar-box img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        vertical-align: top;
    }

    .r-content-top {
        margin-bottom: 10px;
    }

    .r-latest-bottom {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 16px;
        color: #808080;
    }

    .content-up10 {
        width: calc(100% - 26px) !important;
    }

    .content-down100 {
        width: calc(100% - 46px) !important;
    }

    .content-up100 {
        width: calc(100% - 46px) !important;
    }

    /*.room-box.is-active:hover .r-latest-bottom {*/
    /*width: calc(100% - 26px) !important;*/
    /*}*/
    .choose-img-btn {
        margin-left: 20px;
        vertical-align: top;
        margin-top: 5px;
    }

    .toast-message {
        font-size: 14px;
    }

    /*滚动条样式修改*/
    #roomList .mCSB_inside .mCSB_container,
    #log .mCSB_inside .mCSB_container,
    #focusList .mCSB_inside .mCSB_container{
        margin-right: 0;
    }

    #roomList .mCSB_inside .mCSB_container.mCS_y_hidden,
    #log .mCSB_inside .mCSB_container.mCS_y_hidden,
    #focusList .mCSB_inside .mCSB_container.mCS_y_hidden{
        margin-right: 0;
    }

    #roomList .mCSB_scrollTools,
    #log .mCSB_scrollTools,
    #focusList .mCSB_scrollTools{
        width: 8px;
        opacity: 1;
    }

    #roomList .mCSB_scrollTools .mCSB_draggerRail,
    #focusList .mCSB_scrollTools .mCSB_draggerRail{
        background-color: #000;
        width: 0;
    }

    #log .mCSB_scrollTools .mCSB_draggerRail {
        background-color: #eee;
    }

    #roomList .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    #roomList .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
    #roomList .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
    #focusList .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    #focusList .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
    #focusList .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
        background-color: #404448;
        width: 8px;
    }

    #log .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    #log .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
    #log .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
        background-color: #c8c8c8;
        width: 8px;
    }

    .mCSB_scrollTools .mCSB_dragger {
        height: 210px !important;
    }

    .tab-divider {
        position: relative;
        display: inline-block;
        margin: 0 30px;
        width: 1px;
        height: 26px;
        background-color: #202020;
        vertical-align: top;
    }

    .user-contact {
        display: inline-block;
    }

    /*without-data*/
    .without-data {
        color: #808080;
        margin-top: 80px;
        text-align: center;
    }

    .without-focus-list,
    .without-room-list {
        overflow: hidden !important;
    }

    /*通讯录*/
    #focusList .sidebar-content-box {
        height: 40px;
    }

    #focusList .room-box {
        padding: 15px;
    }

    #focusList .r-content-top {
        margin-bottom: 0 !important;
    }

    #focusList .room-box .r-desc {
        width: 100% !important;
        height: 40px !important;
        line-height: 40px !important;
    }

    .detail-info {
        text-align: center;
    }

    .focus-user-image,
    .focus-user-name {
        text-align: center;
    }

    .focus-user-image {
        margin-bottom: 20px;
    }

    .focus-user-name {
        font-size: 24px;
        color: #000;
    }

    .focus-user-image img {
        display: inline-block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .user-focus-fans {
        text-align: center;
        margin-top: 20px;
    }
    .user-focus-fans span {
        display: inline-block;
        color: #808080;
    }
    .focus-number-divider {
        position: relative;
        display: inline-block;
        margin: 0 10px;
        width: 1px;
        height: 16px;
        background-color: #808080;
        vertical-align: top;
    }

    .operate-box {
        text-align: center;
    }

    .operate-box div {
        margin-top: 20px;
    }

    .operate-box a,
    .operate-box a:hover,
    .operate-box a:focus,
    .operate-box a:active,
    .operate-box a:visited {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: #4fe2fe;
        width: 120px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border-radius: 4px;
    }

    .operate-box a:hover {
        background-color: #25c1d6;
    }

    .operate-box a.focus-cancle-attention,
    .operate-box a.focus-cancle-attention:hover,
    .operate-box a.focus-cancle-attention:focus,
    .operate-box a.focus-cancle-attention:active,
    .operate-box a.focus-cancle-attention:visited {
        background-color: #999999;
    }



    #form .chat-upload-file .el-upload-list {
        display: none !important;
    }

    .loginFrame , .RegisterFrame {
        display: none;
        position: fixed;
        z-index: 10000;
        width: 800px;
        height: 400px;
        background-color: grey;
        left: 50%;
        top: 50%;
        margin-left: -400px;
        margin-top: -200px;
        padding: 56px 100px 52px;
    }

    .submit-btn {
        display: inline-block;
        width: 100%;
        font-size: 30px;
        border-radius: initial;
        border-color: black;
        border: 1px solid #000 !important;
        padding: 12px 18px !important;
        text-align: center;
    }

    .form-top {
        text-align: right;
    }

    .close-btn {
        display: inline-block;
        font-size: 25px;
    }

    .close-btn:link {
        color: white;
        text-decoration: none;
    }

    .close-btn:hover {
        color: black;
        text-decoration: none;
        background-color: white;
    }

    .submit-btn:link {
        color: white;
        text-decoration: none;
    }

    .submit-btn:hover {
        color: black;
        text-decoration: none;
        background-color: white;
    }

    .loginFrame label, .RegisterFrame label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .form-lr-input-style {
        border: 1px solid #000 !important;
        background-color: #4f4f4f !important;
        color: #c8c8cc !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
        padding: 12px 18px !important;
        outline: 0 !important;
        width: 200px;
        height: auto;
        font-size: 14px !important;
        text-shadow: none;
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        -o-text-shadow: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .loginFrame .form-group, .RegisterFrame .form-group {
        margin-bottom: 30px;
    }

    .username , .password {
        font-size: 16px !important;
        color: white;
        font-weight: 400;
        padding-bottom: 10px;
    }

@media screen and (max-width: 1199px) {
    #app, body, html {
        height: auto;
    }
    html {
        overflow-y: auto !important;
    }
    body {
        overflow: hidden !important;
        line-height: 1 !important;
        min-height: 100vh !important;
    }

    #app {
        width: 1000px;
        height: calc(100vh - 150px);
        min-height: 600px;
        margin-top: 5vh;
    }
    #rightBox,
    #form{
        width: 700px;
    }

    #leftBox, #rightBox {
        height: calc(95vh - 180px);
        min-height: 600px !important;
    }
    #roomList, #focusList {
        max-height: calc(100% - 180px);
    }
    #log {
        max-height: calc(100% - 230px) !important;
    }
    .content-body {
        max-width: 530px;
    }
}
